body{
    background:#292929;
}
#sun{
    position: absolute;
    margin:0 auto;
}
#sun{
    top:45%;
    left:40%;
}
.object{
    position: absolute;
}
.cloud1{
    top: 50%;
    left: 44%;
}
#cloud1:hover .move-right{
    transform: translate(450px,0);
    -webkit-transform: translate(450px,0);
    -o-transform: translate(450px,0);
    -moz-transform: translate(450px,0);
}
.object {
    position: absolute;
    transition: all 6s ease-in-out;
    -webkit-transition: all 6s ease-in-out;
    -moz-transition: all 6s ease-in-out;
    -o-transition: all 6s ease-in-out;
}
.cloud2{
    top:50%;
    right:50%;
}
.object cloud2{
    position: absolute;
}
#cloud2:hover .move-left {
    transform: translate(-450px,0);
    -webkit-transform: translate(-450px,0);
    -o-transform: translate(-450px,0);
    -moz-transform: translate(-450px,0);
}
#meteo{
    width:100px;
    margin:0 auto;
    padding: 510px 45%;
    font: 23px tahoma, verdana, sans-serif;
}
a{
    text-decoration: none;
    color: #db6e00;
}