body{
    background-image: url(../images/background.svg);
}
#main{
    margin:0;
    padding:0;
    background: #ff972e;
    background: linear-gradient(to top, #e07100,#ffb061)
}
header{
    border-radius: 5px;
    max-width: 100%;
    min-width: 600px;
    max-height: 170px;
    min-height:100px;
    margin:0 auto;
    overflow: hidden;
    background: #fc0;
    box-shadow: 0 0 10px rgba(2,2,2,1.6);
    z-index: 1000;
   }
.flex-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
}

.meteo{
    width:70px;
    height:20px;
    margin: 40px;
    color: #3f3f3f;
    font: 20px tahoma, verdana, sans-serif;
}
form{
    flex:1 auto;
    width:400px;
    height:50px;
    padding:25px 30px;
}
.search {
    width: 300px;
    min-height: 30px;
   }
   input[type="text"] {
    font: 30px tahoma #6b6b6b;
    border:1px solid #a1a1a1;
    border-radius:3px;
    outline: none;
    -webkit-appearance: none;
    width: 270px;
    height:25px;
    vertical-align: middle;
    background: #bdbdbd;
   }
   input[type="image"] {
    position:absolute;
    margin-left: -23px;
    margin-top: 4px;
    width: 19px;
    height: 19px;
    border: none;
    background: no-repeat 50% 50%;
   }
#logo{
    flex:1 auto;
    padding: 0px 20px;
    margin-left: -10px;
    width: 130px;
    height: 75px;"
}
article{
    max-width: 800px;
    min-width: 500px;
    margin: 0 auto;
	background: url(../images/main_bg.png);
	border: 1px #FFF8DC solid;
	border-radius: 5px;
	font: 15px Kurale, serif;
}
li{
    width:300px;
    margin: 20px 20px 20px 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    display:flex;
}
a{
    text-decoration: none;
    color:#3f3f3f;
}
aside{ 
    text-align: center;
}
footer{
    margin: 0 auto;
    border-radius: 5px 5px 0px 0px;
    height:35px;
    max-width: 800px;
    min-width: 500px;
    background: #ff972e;
    background: linear-gradient(to top, #ff972e,#ffb061);
    border: 1px solid #e67300;
}
.social{
    margin: 5px;
}
